{% extends 'gabari.html' %}
{% block content %}

<div class="jumbotron">
        <h1 class="display-3">Hoşgeldiniz!</h1>
        <p class="lead">Bu websitesi Django ve python kullanılarak yapılmıştır. Tasarım ögeleri Bootstrap CSS kütüphanesi kullanılarak gerçekleştirilmiştir.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Dikkat!</h4>
          <p>Sıfırdan django ile nasıl websitesi yapılır öğrenebilmek için, geldiğiniz sayfadaki tutorial'ı okumanızı tavsiye ederiz. Teşekkürler!</p>
        </div>
      </div>

{% endblock content %}